importFrom(graphics, par, points)
importFrom(stats, approx, gaussian, glm.fit, rnorm, runif)
export(scar,scair)
S3method( "predict", "scar")
S3method( "plot", "scar")
S3method( "predict", "scair")
S3method( "plot", "scair")
useDynLib(scar, .registration = TRUE)